{#
/**
 * @file
 * Template for requirements report page.
 */
#}
{% for requirement in requirements %}
  <fieldset>
    <legend class="requirements-report_group__heading">{{ requirement.title }}</legend>
    <p class="requirements-report_group__description">{{ requirement.description }}</p>
    {% for severity in requirement.severities %}
      {% if severity.requirements %}
        <h3 class="requirements-report__heading">{{ severity.title }}</h3>

        {% for requirement in severity.requirements %}
          {{ requirement }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </fieldset>
{% endfor %}
